body { 
	padding-top: 100px; 
	background: linear-gradient(#000, #000);
	color: #fff;
}
 
.facebook{
    font-size: 2.2em;
    color: #1877f2;
   }
   .facebook_off{
    font-size: 2.2em;
    color: #555555;
   }
   .twitter{
    font-size: 2.2em;
    color: #1DA1F2;
   }
   .twitter_off{
    font-size: 2.2em;
    color: #555555;
   }
   .instagram{
    font-size: 2.2em;
    color: #CF2E92;
   }
   .instagram_off{
    font-size: 2.2em;
    color: #555555;
   }
   .home{
    font-size: 2.2em;
    color: #fff; 
   }
   .home_off{
    font-size: 2.2em;
    color: #555555;
   }
   .youtube{
    font-size: 2.2em;
    color: #DA1725; 
   }
   .youtube_off{
    font-size: 2.2em;
    color: #555555;
   }